.wrapper {
  background: #222;
  height: 100vh;
  width: 100vw;
  width: calc(100vw - var(--scrollbar-width, 0px)); /* odyssey sets --scrollbar-width */
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0;
  line-height: 1.5;

  pointer-events: none;
}

:global(.is-layered) .wrapper {
  height: 100% !important;
}

.layers {
  clip-path: inset(0);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* In Firefox, parallax Odyssey headers aren't clipped properly */
  @supports (-moz-appearance: meterbar) {
    :global(.Header):not(:global(.is-layered)) :global(.Header-media) & {
      clip-path: inset(0 0 calc(var(--Main-offsetTop, 0) + var(--Header-contentPeek, 0)) 0);
    }
  }
}

.layers > * {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
