:global(.is-layered) {
  .wrapper {
    height: 100% !important;
  }
}

.wrapper {
  background: #222;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0;
  line-height: 1.5;

  pointer-events: none;
}

.layers {
  clip: rect(0, auto, auto, 0);
  -webkit-clip-path: inset(0 0 0 0);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layers > * {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
